.back-shadow {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 1000;
}

.button-close {
  background-color: firebrick;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: -15px;
  text-align: center;
  top: -15px;
  width: 30px;
  font-family: "Roboto Light", sans-serif;
}
